<div id="act_panel_b" class="collapse">
<div class="page-header" style="color: #ffffff;">
    <h2>被邀请活动
        <small>面板</small>
    </h2>
</div>
<div class="tabbable" id="2tabs-565942">
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#2panel-tab1" data-toggle="tab" class=""><h4>待确认活动</h4></a>
    </li>
    <li>
        <a href="#2panel-tab2" data-toggle="tab"><h4>已确认活动</h4></a>
    </li>
    <li>
        <a href="#2panel-tab3" data-toggle="tab"><h4>待缴费活动</h4></a>
    </li>
    <li>
        <a href="#2panel-tab4" data-toggle="tab"><h4>已结束活动</h4></a>
    </li>
</ul>
<!-- tab - content-->
<div class="tab-content">
<!-- tab1 content -->
<div class="tab-pane active" id="2panel-tab1">
<!--  <h3>未确认活动</h3> -->
<br/>

<div class="panel-group">
<!--活动-->
<div class="panel panel-default">
    <!-- 活动head -->
    <div class="panel-heading">
        <h4 class="panel-title">

            <a href="#2act_id_1" data-toggle="collapse">
                <span class="label label-danger">活动名</span>
                <span class="label label-primary">2013-12-12</span>
                <span class="label label-success">创建者: ETAF</span>
                <span class="label label-info">活动状态: 未确认</span>
            </a>
        </h4>
    </div>
    <!--  活动body -->
    <div id="2act_id_1" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <a data-trigger="confirm" href="confirm_join" class="btn btn-success btn-lg btn-block">确认参加</a>
            </div>
            <br/>

            <div>
                <table class="table table-condensed table-hover etaf_td_width_4">
                    <!-- 活动方案 -->
                    <tr>
                        <td colspan="2">
                            方案提出者：dancing_links
                        </td>
                        <td>
                            票数：2
                        </td>
                        <td>
                            <button type="button" class="btn btn-success etaf_vote_btn" id='vote_btn_11232'>
                                <!--id 格式：vote_btn_planId-->
                                投票
                            </button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td>开始时间</td>
                        <td>地点</td>
                        <td>内容</td>
                        <td>预计人均</td>
                    </tr>
                    <tr class="success">
                        <td>12:00</td>
                        <td>大丰收鱼庄宝龙店</td>
                        <td>大丰收吃鱼</td>
                        <td>200</td>
                    </tr>
                    <tr class="danger">
                        <td>14:00</td>
                        <td>agogo万象店</td>
                        <td>agogo唱歌</td>
                        <td>100</td>
                    </tr>
                    <tr class="active">
                        <td colspan="4">
                            <div class="etaf_momey_line">
                                预计人均：100 <span class="badge">￥</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr class="cut_line"/>
            </div>
            <div>
                <table class="table table-condensed table-hover etaf_td_width_4">
                    <!-- 活动方案 -->
                    <tr>
                        <td colspan="2">
                            方案提出者：dancing_links
                        </td>
                        <td>
                            票数：2
                        </td>
                        <td>
                            <button type="button" class="btn btn-success etaf_vote_btn" id='vote_btn_2632'>
                                <!--id 格式：vote_btn_planId-->
                                投票
                            </button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td>开始时间</td>
                        <td>地点</td>
                        <td>内容</td>
                        <td>预计人均</td>
                    </tr>
                    <tr class="success">
                        <td>12:00</td>
                        <td>大丰收鱼庄宝龙店</td>
                        <td>大丰收吃鱼</td>
                        <td>200</td>
                    </tr>
                    <tr class="danger">
                        <td>14:00</td>
                        <td>agogo万象店</td>
                        <td>agogo唱歌</td>
                        <td>100</td>
                    </tr>
                    <tr class="active">
                        <td colspan="4">
                            <div class="etaf_momey_line">
                                预计人均：100 <span class="badge">￥</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr class="cut_line"/>
            </div>
            <!-- 参与者list-->
            <div>
                <h4><span class="label label-primary">参与者名单:</span></h4>
                <table class="table table-condensed table-hover">
                    <tr>
                        <td colspan="2">参与者</td>
                        <td colspan="2">确认参加</td>

                    </tr>
                    <tr>
                        <td colspan="2">dancing_links</td>
                        <td colspan="2"><span class="label label-success">Yes</span></td>

                    </tr>
                    <tr>
                        <td colspan="2">memberOne</td>
                        <td colspan="2"><span class="label label-default">Waiting</span></td>

                    </tr>
                    <tr>
                        <td colspan="2">memberTwo</td>
                        <td colspan="2"><span class="label label-default">Waiting</span></td>

                    </tr>
                </table>
                </ul>
            </div>
            <!-- 确认活动 -->
            <div>
                <a data-trigger="confirm" href="create_act_plan" class="btn btn-primary btn-lg btn-block">添加新方案</a>
            </div>
            <!-- 新方案 -->

        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#2act_id_12" data-toggle="collapse">
                <span class="label label-danger">活动名</span>
                <span class="label label-primary">2013-12-12</span>
                <span class="label label-success">创建者: ETAF</span>
                <span class="label label-info">活动状态: 未确认</span>
            </a>
        </h4>
    </div>
    <!--  活动body -->
    <div id="2act_id_12" class="panel-collapse collapse">
        <div class="panel-body">
            <div>
                <a href="confirm_join" class="btn btn-success btn-lg btn-block">确认参加</a>
            </div>
            <br/>

            <div>
                <table class="table table-condensed table-hover etaf_td_width_4">
                    <!-- 活动方案 -->
                    <tr>
                        <td colspan="2">
                            方案提出者：dancing_links
                        </td>
                        <td>
                            票数：2
                        </td>
                        <td>
                            <button type="button" class="btn btn-success etaf_vote_btn" id='vote_btn_22'>
                                <!--id 格式：vote_btn_planId-->
                                投票
                            </button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td>开始时间</td>
                        <td>地点</td>
                        <td>内容</td>
                        <td>预计人均</td>
                    </tr>
                    <tr class="success">
                        <td>12:00</td>
                        <td>大丰收鱼庄宝龙店</td>
                        <td>大丰收吃鱼</td>
                        <td>200</td>
                    </tr>
                    <tr class="danger">
                        <td>14:00</td>
                        <td>agogo万象店</td>
                        <td>agogo唱歌</td>
                        <td>100</td>
                    </tr>
                    <tr class="active">
                        <td colspan="4">
                            <div class="etaf_momey_line">
                                预计人均：100 <span class="badge">￥</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr class="cut_line"/>
            </div>
            <!-- 活动方案 -->
            <div id="act_plan_id_3131"> <!--id 格式：act_plan_id_x x为方案ID-->
                <table class="table table-condensed table-hover etaf_td_width_4">
                    <!-- 活动方案 -->
                    <tr>
                        <td colspan="2">
                            方案提出者：dancing_links
                        </td>
                        <td>
                            票数：2
                        </td>
                        <td>
                            <button type="button" class="btn btn-success etaf_vote_btn" id='vote_btn_2932'>
                                <!--id 格式：vote_btn_planId-->
                                投票
                            </button>
                        </td>
                    </tr>
                    <tr class="active">
                        <td>开始时间</td>
                        <td>地点</td>
                        <td>内容</td>
                        <td>预计人均</td>
                    </tr>
                    <tr class="success">
                        <td>12:00</td>
                        <td>大丰收鱼庄宝龙店</td>
                        <td>大丰收吃鱼</td>
                        <td>200</td>
                    </tr>
                    <tr class="danger">
                        <td>14:00</td>
                        <td>agogo万象店</td>
                        <td>agogo唱歌</td>
                        <td>100</td>
                    </tr>
                    <tr class="active">
                        <td colspan="4">
                            <div class="etaf_momey_line">
                                预计人均：100 <span class="badge">￥</span>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr class="cut_line"/>
            </div>
            <!-- 参与者list-->
            <div>
                <h4><span class="label label-primary">参与者名单:</span></h4>
                <table class="table table-condensed table-hover">
                    <tr>
                        <td colspan="2">参与者</td>
                        <td colspan="2">确认参加</td>

                    </tr>
                    <tr>
                        <td colspan="2">dancing_links</td>
                        <td colspan="2"><span class="label label-success">Yes</span></td>

                    </tr>
                    <tr>
                        <td colspan="2">memberOne</td>
                        <td colspan="2"><span class="label label-default">Waiting</span></td>

                    </tr>
                    <tr>
                        <td colspan="2">memberTwo</td>
                        <td colspan="2"><span class="label label-default">Waiting</span></td>

                    </tr>
                </table>
                </ul>
            </div>
            <!-- 新方案 -->
            <div>
                <a data-trigger="confirm" href="create_act_plan" class="btn btn-primary btn-lg btn-block">添加新方案</a>
            </div>


        </div>
    </div>
</div>
</div>
</div>
<!-- tab2 content -->
<div class="tab-pane" id="2panel-tab2">
    <!--  <h3>已确认活动</h3> -->
    <br/>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#2act_id_2" data-toggle="collapse">
                        <span class="label label-danger">活动名</span>
                        <span class="label label-primary">2013-12-12</span>
                        <span class="label label-success">创建者: ETAF</span>
                        <span class="label label-info">活动状态: 已确认</span>
                    </a>
                </h4>
            </div>
            <!--  活动body -->
            <div id="2act_id_2" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-condensed table-hover etaf_td_width_4">
                        <!-- 活动方案 -->
                        <tr>
                            <td colspan="2">
                                方案提出者：dancing_links
                            </td>
                            <td>
                                票数：2
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr class="active">
                            <td>开始时间</td>
                            <td>地点</td>
                            <td>内容</td>
                            <td></td>
                        </tr>

                        <tr class="success">
                            <td>12:00</td>
                            <td>大丰收鱼庄宝龙城市广场</td>
                            <td>大丰收吃鱼</td>
                            <td></td>
                        </tr>

                        <tr class="danger">
                            <td>14:00</td>
                            <td>agogo万象城店</td>
                            <td>agogo唱歌</td>
                            <td></td>
                        </tr>
                        <tr class="active">

                            <td colspan="4">
                                <div class="etaf_money_line">预计人均：100</div>
                            </td>
                        </tr>
                    </table>
                    <hr class="cut_line"/>

                    <!-- 参与者list-->
                    <div>
                        <h4><span class="label label-primary">参与者名单:</span></h4>
                        <table class="table table-condensed table-hover">
                            <tr>
                                <td colspan="4">参与者</td>

                            </tr>
                            <tr>
                                <td colspan="4">dancing_links</td>

                            </tr>
                            <tr>
                                <td colspan="4">memberOne</td>

                            </tr>
                            <tr>
                                <td colspan="4">memberTwo</td>
                            </tr>
                        </table>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tab3 content -->
<div class="tab-pane" id="2panel-tab3">
    <!--<h3>已结束活动</h3>-->
    <br/>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#2act_id_3" data-toggle="collapse">
                        <span class="label label-danger">活动名</span>
                        <span class="label label-primary">2013-12-12</span>
                        <span class="label label-success">创建者: ETAF</span>
                        <span class="label label-info">活动状态: 收费中</span>
                    </a>
                </h4>
            </div>
            <!--  活动body -->
            <div id="2act_id_3" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-condensed table-hover etaf_td_width_4">
                        <!-- 活动方案 -->
                        <tr>
                            <td colspan="2">
                                方案提出者：dancing_links
                            </td>
                            <td>
                                票数：2
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr class="active">
                            <td>开始时间</td>
                            <td>地点</td>
                            <td>内容</td>
                            <td>实际消费金额</td>
                        </tr>
                        <tr class="success">
                            <td>12:00</td>
                            <td>大丰收宝龙店</td>
                            <td>大丰收吃鱼</td>
                            <td>200 <span class="badge">￥</span></td>
                        </tr>
                        <tr class="danger">
                            <td>14:00</td>
                            <td>agogo万象店</td>
                            <td>agogo唱歌</td>
                            <td>100 <span class="badge">￥</span></td>
                        </tr>
                        <tr class="active">

                            <td colspan=4>
                                <div class="etaf_momey_line">实际人均：100 <span class="badge">￥</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <hr class="cut_line"/>
                    <!-- 参与者list-->
                    <div>
                        <h4><span class="label label-primary">参与者名单:</span></h4>
                        <table class="table table-condensed table-hover">
                            <tr>
                                <td>参与者</td>
                                <td>应缴金额</td>
                                <td>是否缴费</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>dancing_links</td>
                                <td> 100 <span class="badge">￥</span></td>
                                <td><span class="label label-success">Yes</span></td>
                                <td>
                                    <button class="btn btn-danger etaf_remind_btn" disabled>
                                        缴费
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>memberOne</td>
                                <td> 100 <span class="badge">￥</span></td>
                                <td><span class="label label-default">No</span></td>
                                <td>
                                    <button class="btn btn-danger etaf_remind_btn">
                                        缴费
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>memberTwo</td>
                                <td> 100 <span class="badge">￥</span></td>
                                <td><span class="label label-default ">No</span></td>
                                <td>
                                    <button class="btn btn-danger etaf_remind_btn">
                                        缴费
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="tab-pane" id="2panel-tab4">
    <!--<h3>已结束活动</h3>-->
    <br/>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="#2act_id_4" data-toggle="collapse">
                        <span class="label label-danger">活动名</span>
                        <span class="label label-primary">2013-12-12</span>
                        <span class="label label-success">创建者: ETAF</span>
                        <span class="label label-info">活动状态: 已结束</span>
                    </a>
                </h4>
            </div>
            <!--  活动body -->
            <div id="2act_id_4" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-condensed table-hover etaf_td_width_4">
                        <!-- 活动方案 -->
                        <tr>
                            <td colspan="2">
                                方案提出者：dancing_links
                            </td>
                            <td>
                                票数：2
                            </td>
                            <td>

                            </td>
                        </tr>
                        <tr class="active">
                            <td>开始时间</td>
                            <td>地点</td>
                            <td>内容</td>
                            <td>实际消费金额</td>
                        </tr>
                        <tr class="success">
                            <td>12:00</td>
                            <td>大丰收宝龙店</td>
                            <td>大丰收吃鱼</td>
                            <td>200 <span class="badge">￥</span></td>
                        </tr>
                        <tr class="danger">
                            <td>14:00</td>
                            <td>agogo万象店</td>
                            <td>agogo唱歌</td>
                            <td>100 <span class="badge">￥</span></td>
                        </tr>
                        <tr class="active">

                            <td colspan=4>
                                <div class="etaf_momey_line">实际人均：100 <span class="badge">￥</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <hr class="cut_line"/>
                    <!-- 参与者list-->
                    <div>
                        <h4><span class="label label-primary">参与者名单:</span></h4>
                        <table class="table table-condensed table-hover">
                            <tr>
                                <td colspan="3">参与者</td>
                                <td>应缴金额</td>
                            </tr>
                            <tr>
                                <td colspan="3">dancing_links</td>
                                <td> 100 <span class="badge">￥</span></td>
                            </tr>
                            <tr>
                                <td colspan="3">memberOne</td>
                                <td> 100 <span class="badge">￥</span></td>
                            </tr>
                            <tr>
                                <td colspan="3">memberTwo</td>
                                <td> 100 <span class="badge">￥</span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>
</div>
</div>